<%- include("partials/header.ejs") %>

<form action="submit" method="post">
  <div class="input-group p-5" style="height: 300px; width: 100%;">
    <span class="input-group-text">With textarea</span>
    <textarea type="text" name="text-value" placeholder="Your fantastic post" class="form-control" aria-label="With textarea"></textarea>
    <button type="submit" class="btn btn-success">Success</button>
  </div>
</form>

<%- include("partials/footer.ejs") %>